.containersidebar {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
}

.reportContainer {
  flex: 4;
  padding: 20px;
  flex-direction: row;
  /* display: flex; */
}

.label {
  margin-left: 50px;
  margin-right: 10px;
}

.selectContainer {
  text-align: center;
  margin-top: 10px;
}

.titleContainer {
  text-align: center;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
  /* margin-left: 10px; */
}
.custom-select {
  max-width: 200px;
}
.tableContainer {
  display: flex;
  flex-direction: column;
}

.reportHeading {
  text-align: center;
}

.btn-success {
  margin-top: -30px;
}
