.containersidebar{
    flex: 1;
    flex-direction: row;
}

.featured-container{
    flex: 4;
    flex-direction: row;
    margin-top: 100px;
}

.featured {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 120px;
}

.featuredItem {
    flex: 1;
    margin: 20px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    -webkit-box-shadow: 1px 1px 23px -7px rgba(0,0,0,0.82); 
    box-shadow: 1px 1px 23px -7px rgba(0,0,0,0.82); 
}

.featuredItem-green {
    flex: 1;
    margin: 20px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid green;
    -webkit-box-shadow: 1px 1px 23px -7px rgba(62, 252, 5, 0.82); 
    box-shadow: 1px 1px 23px -7px rgba(62, 252, 5, 0.82); 
}

.featuredItemIcon {
    margin-left: 90px;
    color: #ffb907;
}

.featuredTitle{
    text-align: center;
    font-size: 16px;
}

.featuredNum{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}