.addtomap {
    flex: 4;
    
}

.map{
    margin-top: 50px;
    margin-left: 320px;
}

.formhadle {
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-top: 50px;
    margin-left: 210px;
}

.buttons {
    margin-left: 330px;
    margin-top: -20px;
}

.buttonsrearrange {
    margin-left: 10px;
}