.containersidebar {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
}

.listcontainer {
    flex: 4;
}


.userList {
    /* flex: 4; */
    /* max-width: 800px; */
    /* margin-left: 500px; */
    max-height: 800px;
}

.userListData {
    max-width: 800px;
    display: flex;
    /* align-items: center; */
    margin-left: 220px;
    /* margin-top: 10px; */
    max-height: 800px;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 20px;
    /* height: 30px; */
}

.userListDelete{
    color: red;
    cursor: pointer;
}

.userListHead {
    align-items: center;
    margin-top: 20px;
}

.userListHeader {
    text-align: center;
}